table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

 input[type='checkbox']:checked +.task-todo-text  {
    text-decoration: line-through;  
  }
  input[type='checkbox']:checked {
    filter: hue-rotate(240deg) 
  }
 

.chck{
  margin-right: 2em;
  transform: scale(1.5);
  
}